<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.yx.getscinfo"
    android:versionCode="1"
    android:versionName="测试 v1.0">

    <!-- 权限设置 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AEsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_test"
        android:label="@string/app_名字"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".T_esScrollingActivity"
            android:label="@string/title_activity_t_es_scrolling"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>